body, html {
    margin: 0;
    padding: 0;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.enable-scripts {
    padding-top: 150px;
    padding-bottom: 150px;
}

.loading {
    padding-top: 150px;
    padding-bottom: 150px;
    /* display: none; */
}

#progress {
    width: 50%;
    background-color: lightgray;
    margin: 0 auto;
}
#progress-bar {
    width: 1%;
    height: 30px;
    background-color: green;
    padding-bottom: 7px;
    text-shadow: 1px 1px black;
    color: white;
}

#chart {
    background-color: #F5F2EB;
    border: 1px solid #CCC;
}

.gridline path,
.gridline line {
    fill: none;
    stroke: #ccc;
}

.trendline {
    fill: none;
    stroke-width: 3px;
    opacity: .50;
}

.axis-label {
    fill: black;
    text-anchor: middle;
    font-size: 1.5em;
}

.header-text {
    text-transform: capitalize;
    text-anchor: middle;
    font-size: 150%;
}

.legend {
    stroke: black;
    text-anchor: middle;
    font-size: 50%;
}

.legend rect {
    stroke-width: 1px;
    fill: white;
}

.legend-point,
.legend-line {
    pointer-events: none;
}

.legend-item-text {
    text-anchor: start;
    font-size: 75%;
    font-weight: lighter;
    fill: black;
    pointer-events: none;
}

.legend-item-box {
    stroke: #ddd;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

.highlight {
    opacity: 1;
}

rect.highlight {
    fill: lightyellow;
}

.error {
    fill: lightred;
    font-weight: bold;
}

.controls {
    font-family: 'Arial', sans-serif;
    font-size: 75%;
    padding: 10px 20px 10px 20px;
    margin: 0px 100px 0px 100px;
    background-color: ivory;
    border: gray 1px solid;
}