body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.loading {
    padding-top: 150px;
}

#chart {
    background-color: #F5F2EB;
    border: 1px solid #CCC;
}

.gridline path,
.gridline line {
    fill: none;
    stroke: #ccc;
}

.trendline {
    fill: none;
    stroke-width: 3px;
    opacity: .50;
}

.axis-label {
    fill: black;
    text-anchor: middle;
    font-size: 1.5em;
}

.header-text {
    text-transform: capitalize;
    text-anchor: middle;
    font-size: 150%;
}

.legend {
    stroke: black;
    text-anchor: middle;
    font-size: 50%;
}

.legend rect {
    stroke-width: 1px;
    fill: white;
}

.legend-point,
.legend-line {
    pointer-events: none;
}

.legend-item-text {
    text-anchor: start;
    font-size: 75%;
    font-weight: lighter;
    fill: black;
    pointer-events: none;
}



.legend-item-box {
    stroke: #ddd;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

.highlight {
    opacity: 1;
}

rect.highlight {
    fill: lightyellow;
}